<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entertainment Forum</title>
    <!-- <link rel="shortcut icon" href="media/entertainment_symbol.png" type="image/png"> -->
    <link rel="shortcut icon" href="../../public/media/img/arc_reactor.png" type="image/png">
    <script src="https://kit.fontawesome.com/bee6fd2016.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/games">Games</a></li>
                <li><a href="/movies">Movies</a></li>
                <li><a href="/music">Music</a></li>
                <li><a href="/tvShows">TV Shows</a></li>
            </ul>
        </nav>
    </header>
    <h1>MOVIES</h1>
    <main>
        <img id="movies_img" src="../../public/media/img/elf_movie.jpg">
        <p>
            As Christmas is coming around the corner, I thought it would be a good idea to include something Christmas-themed. One of personal favorites,
            Elf is a Christmas classic is some households. The comedy is great, and the emotional story puts tears in the eyes of some viewers. Definitely
            worth the watch during this Christmas season.
        </p>
    </main>
    
    <input type="text">

    <footer>
        <hr>
        <p class="p_footer">&copy;Steven Klein, 2021</p>
        <section class="section_footer">
            <a href="mailto:sklein2@oakland.edu" aria-label="Email" target="_blank" class = "a_footer">
                <i class="fas fa-at fa-2x"></i>
            </a>
            <a href="https://www.facebook.com/steven.klein.79025" aria-label="Facebook" target="_blank" class = "a_footer">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="https://twitter.com/smklein16" aria-label="Twitter" target="_blank" class = "a_footer">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
        </section>
    </footer>
</body>
</html>